📥 <b>电影下载完成</b>

标题: <b>{{ movie.title }}</b> ({{ movie.year }})
质量: {{ movieFile.quality }}

{# --- 自定义格式信息 (Radarr) --- #}
{% if customFormatInfo %}
    {% if customFormatInfo.customFormatScore is not none and customFormatInfo.customFormatScore != 0 %}
分数: <b>{{ customFormatInfo.customFormatScore }}</b>
    {% endif %}
    {% if customFormatInfo.customFormats %}
格式: {% for cf in customFormatInfo.customFormats %}<code>{{ cf.name }}</code> {% endfor %}
    {% endif %}
{% endif %}

{% if isUpgrade %}✨ <b>画质洗版升级</b>{% endif %}
{% if movie.overview %}
简介: {{ movie.overview | truncate(80) }}
{% endif %}
来源: <code>{{ server_name }}</code>

#Radarr #下载完成