🎬 <b>收到新的求片请求</b>

👤 <b>申请人</b>: <code>(<a href="tg://user?id={{ user_id }}">{{ user_name }}</a>)</code> 
🎬 <b>标题</b>: {{ media_title }} ({{ media_year }})
🖥️ <b>服务器</b>: {{ server_name }}
📝 <b>简介</b>: {{ overview | truncate(100) }}

{{ prefix }}: {{ tmdb_id }}

#求片 #待审核