<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<tvshow>
    <title>{{ title }}</title>
    <originaltitle>{{ original_title }}</originaltitle>
    {% if sort_title %}
    <sorttitle>{{ sort_title }}</sorttitle>
    {% endif -%}

    {% if rating %}
    <rating>{{ rating }}</rating>
    {% endif -%}

    {% if plot %}
    <plot>{{ plot }}</plot>
    {% endif -%}

    {% if mpaa %}
    <mpaa>{{ mpaa }}</mpaa>
    {% endif -%}

    {% if premiered %}
    <premiered>{{ premiered }}</premiered>
    {% endif -%}

    {% if studio %}
    <studio>{{ studio }}</studio>
    {% endif -%}

    {% for genre in genres %}
    <genre>{{ genre }}</genre>
    {% endfor -%}

    {% if tmdb_id %}
    <uniqueid type="tmdb">{{ tmdb_id }}</uniqueid>
    {% endif -%}

    {% if tvdb_id %}
    <uniqueid type="tvdb">{{ tvdb_id }}</uniqueid>
    {% endif -%}

    {% if imdb_id %}
    <uniqueid type="imdb">{{ imdb_id }}</uniqueid>
    {% endif -%}
</tvshow>
